// Test configuration file
profiles {
    andrey_aldan3 {
        params {
            config_profile_description = 'aDNA standard pipeline'
            config_profile_contact = 'Andrey Bydanov (bydanovandrey03@gmail.com)'
    // Custom genotyping pipeline
    // change to your own input files
    input = "*read{1,2}.fastq.gz"
    // change reference files to your own
    fasta = "/projects/ancient_dna/reference/GRCh37.p13.genome.fa"
    bt2_index = "/projects/ancient_dna/reference/"
    fasta_index = "/projects/ancient_dna/reference/GRCh37.p13.genome.fa.fai"
    // keep unchanged
    preserve5p = true
    mergedonly = true
    mapper = "bowtie2"
    run_bam_filtering = true
    bam_mapping_quality_threshold = 20
    dedupper = "dedup"
    damage_calculation_tool = "mapdamage"
    mapdamage_downsample = 10000
    run_mapdamage_rescaling = true
    run_trim_bam = true
    bamutils_clip_double_stranded_none_udg_left = 2
    bamutils_clip_double_stranded_none_udg_right = 2
    run_genotyping = true
    genotyping_tool = "pileupcaller"
    genotyping_source = "trimmed"
    pileupcaller_bedfile = "/projects/ancient_dna/reference/1240K.pos.list_HG19.0based.bed"
    pileupcaller_snpfile = "/projects/ancient_dna/SNP_base/v54.1.p1_1240K_public.snp"
    run_mtnucratio = true
    run_sexdeterrmine = true
    sexdeterrmine_bedfile = '/projects/ancient_dna/reference/1240K.pos.list_HG19.0based.bed'
    run_nuclear_contamination = true
    contamination_chrom_name = 'X'
        }

// Allow programms to use all cpus
 process {

  withName: fastqc {
    memory = 32.GB
    cpus = 16
  }

  withName: adapter_removal {
    memory = 32.GB
    cpus = 16
  }
 
  withName: bwa {
    time = 24.h
  }
 
  withName: bowtie2 {
    memory = 32.GB
    cpus = 32
    time = 10.h
  }
 
  withName: genotyping_pileupcaller {
    memory = 32.GB
    cpus = 16
  }

  withName: dedup {
    memory = 32.GB
    cpus = 16
  }

  withName: bam_trim {
    memory = 32.GB
    cpus = 16
  }



}
   
   }
 
}
 
